.colors {
  color: #66501c #d73600 #72b349 #ecf8fa #ff540f;
}
/* header styles */
header,.card-body,body {
  background-color: #ecf8fa;
}
.active{
  border-bottom: 2px solid #d73600;
}
.btn-check.active{

  background-color:#000000!important;
}

